	body {
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 13pt;
	}
	h2 {
		font-family: 'hanna', sans-serif;
		text-align: center;
	}
	
	table {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	table, th, td{
		border: 1px solid #A4A4A4;
	}
	.no-border{
		border: 0px;
	}
	
	th {
		width: 200px;
		height: 30px;
		text-align: center;
		background-color: #81DAF5;
	}
	
	.button{
		width: 90px;
		height: 35px;
		font-size: 12pt;
		font-family: 'Nanum Gothic', sans-serif;
	}